---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /404.html
Disallow: /admin/
Disallow: /authors/
Disallow: /pages/RSS/

# Url from Sitemap
Sitemap: https://webdevlpr.com/sitemap.xml