/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  
/***********
  GENERAL
***********/

/* Defined variables */
:root {
  /* Fonts */
  --thin-font: 'Montserrat', sans-serif;
  --em-font: Georgia, 'Times New Roman', Times, serif;
  --plain-font: Arial, 'Open Sans', sans-serif;

  /* Light colors */
  --light-bg-color: #fff;
  --light-text-color: #000;
  --light-hot-pink: #c84080;
  --light-bg-hot-pink: #d36699;
  --light-about-pink: #ffe5ef;
  --light-pastel-green: #D1E1DD;
  --light-code: #000;
  /* Default colors assigned #874760 ea4c89*/
  --bg-color: var(--light-bg-color);
  --text-color: var(--light-text-color);
  --hot-pink: var(--light-hot-pink);
  --bg-hot-pink: var(--light-bg-hot-pink);
  --about-pink: var(--light-about-pink);
  --pastel-green: var(--light-pastel-green);
  --code: var(--light-code);


  /* Other */
  --cb-transition: cubic-bezier(0.645,0.045,0.355,1);
}

/* dark mode
***********/

.darkmode {
  /* Dark colors */
  --dark-bg-color: #252525;
  --dark-text-color: #ddd;
  --dark-hot-pink: #d36699;
  --dark-bg-hot-pink: #874760;
  --dark-about-pink: #2a2124;
  --dark-pastel-green: #445a56;
  --dark-code: #FC9835;
  /* Dark colors assigned */
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);
  --hot-pink: var(--dark-hot-pink);
  --bg-hot-pink: var(--dark-bg-hot-pink);
  --about-pink: var(--dark-bg-color);
  --pastel-green: var(--dark-pastel-green);
  --code: var(--dark-code);
}

::selection {
  background-color: var(--pastel-green);
}

html {
  background-color: var(--bg-color);
}

body, a {
  color: var(--text-color);
}

/* Default typography */
body {
  font-family: var(--plain-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--em-font);
  font-weight: bold;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 1.2em;
}

h5, h6 {
  position: relative;
  left: 25px;
  font-style: italic;
}

/* Font styles */
em, strong, i {
  font-weight: bold;
  font-style: italic;
  font-family: var(--em-font);
}

b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

figcaption {
  font-size: 0.6em;
  font-weight: 100;
}

/* Default link slide animation / typography */
a {
  position: relative;
  height: 120%;
  background-image: linear-gradient(transparent 50%, var(--bg-hot-pink) 50%, var(--bg-hot-pink) 95%,transparent 95%,transparent 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: 0.2s;
  text-decoration: none;
}

a:hover,
a:focus {
  transition: 0.7s var(--cb-transition);
  background-size: 100% 100%;
  outline: none;
}

/* Visible hr */
hr {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 

/* ::-webkit-scrollbar-button {
  background-color: white;
  border: 1px solid #2f2f2f;
  height: 20px;
  width: 20px;
  border-radius: 100px;
} */





/***********
CONTAINER
***********/

.container {
  margin: 50px auto;
  max-width: 1200px;
}


/*  Grid container layout on small screens */
header,
footer,
main,
.article,
.tag-headline,
.progress-container  {
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
}

/* LIVE PREVIEW
Imitating article layout */
[class*="WidgetPreviewContainer"] {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: left;
}

/* Posts start in the middle */
header > *,
footer > *,
main > *,
.article > *,
.tag-headline > *,
[class*="WidgetPreviewContainer"] > * {
  grid-column: 2;
}

/* ARTICLE & ABOUT PAGE: Space between elements */
.article,
.about,
[class*="WidgetPreviewContainer"] {
  grid-row-gap: 50px;
}

/* FRONT PAGE: space between articles */
.articles {
  grid-row-gap: 70px;
}

/* MENU: space between logo and menu */
header {
  grid-row-gap: 35px;
}

/* FOOTER: centering content and margin-top space */
footer {
  margin-top: 100px;
  justify-items: center;
}

footer img {
  width: 100px;
}





/***********
MENU ALL
***********/

/* Word logo typography */
.logo {
  font-size: 30px;
  font-weight: normal;
  text-transform: lowercase;
}

/* Menu space posts */
.menu {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

/* Menu items styling */
.menu li {
  font-family: var(--thin-font);
  text-transform: uppercase;
  display: inline-block;
}

/* Dark light mode button */
.light-dark-button {
  cursor: pointer;
}


/***********
FRONT PAGE : POSTS
***********/

/* Post grid*/
.post {
  display: grid;
  grid-template-columns: 1fr;
  /* Space between post-date and post-info */
  grid-gap: 10px;
  /* Centers date on small screens */
  justify-items: center;
}

/* Tags and title centered on small screens */
.post-tags,
.post-title {
  text-align: center;
}

/* Left side of the post adjusting size */
.post-date {
  position: relative;
  width: 45px;
  height: 70px;
}

/* Positioning date inside bookmark */
.day-month {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
  line-height: 1.3;
}

/* Date typography */
.day-month span {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: lowercase;
}

.day {
  font-size: 28px;
}

.month {
  font-size: 17px;
}

/* Tags typography styling */
.post-tags {
  display: block;
}

/* Tag icon defining width, positioning */
.tag-icon {
  width: 10px;
  transform: rotate(50deg);
  margin: 0 15px 0 0;
  opacity: 0.6;
}

/* Spasing tags through flexbox container */
.post-all-tags {
  display: inline;
}

/* Space between tags */
.meta-tag {
  margin-right: 10px;
}

/* Each tag typography and spacing */
.post-tags .tag {
  font-family: var(--thin-font);
  font-size: 16px;
  position: relative;
  top: -4.5px;
  display: inline;
}

/* Title margin and typography */
.post-title {
  margin: 8px 0 15px;
  line-height: 150%;
  font-size: 27px;
}

/* Description typography */
.post-content {
  line-height: 1.6;
  font-size: 18px;
}


/***********
ARTICLE 
***********/

/* Progress reading indicator */
.progress-container {
  width: 100%;
  height: 8px;
  background: var(--pastel-green);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.progress-bar {
  height: 8px;
  background: var(--hot-pink);
  width: 0%;
  grid-column: 1 / -1;
}

/* Title typography */
.article-info h1 {
  font-size: 35px;
  line-height: 130%;
}

/* Date and tags beneath title - typography */
.meta-article {
  font-family: var(--thin-font);
  font-size: 15px;
  margin-top: 20px;
  letter-spacing: 1.5px;
}

/* Date & tags - flex container & spacing */
.meta-article{
  display: inline-block;
}

.meta-tags {
  display: inline;
}

.date-tags-separator {
  margin: 0 10px;
}

.meta-article .meta-tag:last-of-type {
  margin-right: 0;
}

/* h2 titles */
.article-page h2,
[class*="WidgetPreviewContainer"] h2 {
  font-size:30px;
  line-height: 1.3;
}

/* Plus list style type */

.article ul li {
  display: grid;
  grid-template-columns: 24px 1fr; 
}

.article ul li::before {
  display: inline-block;
  content: "+ ";
  width: 24px;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

/* Article links animation from below to top */

.article p a, .article ul a, .article ol a, .article figcaption a {
  /* background-size: 100% 100%;
  background-image: linear-gradient(transparent 40%, var(--hot-pink) 40%, var(--hot-pink) 100%);
  transition: background-position 0.3s ease-in, text-decoration 1s ease;
  background-position: 0 14px;
  text-decoration: underline wavy var(--hot-pink) 1.8px; */
  color: var(--hot-pink);
}

.article p a:hover,
.article p a:focus,
.article ul a:hover,
.article ul a:focus,
.article  figcaption a:hover,
.article  figcaption a:focus {
  background-position: 0 0;
  text-decoration: transparent;
  background-size: 0;
  background-image: none;
  text-decoration: underline wavy var(--hot-pink) 1.6px;
}

/* Image: from side to side */
.article .wide-img {
  grid-column: 1 / -1;
  margin: 0 10px;
  max-width: 1000px;
  justify-self: center;
}

/* Tip: typography and separator */
.tip {
  font-family: var(--em-font);
  font-style: italic;
  border-left: var(--hot-pink) 2px solid;
  padding-left: 15px;
}

/* Blockquote */
.article blockquote {
  font-size: 1.2em;
  /* font-family: var(--em-font); */
  font-style: italic;
  position: relative;
}

/* Blockquote:  quotation mark*/
blockquote::before {
  display: inline;
  content: '"';
  font-size: 2.2em;
  position: absolute;
  top: -12px;
  left: -5px;
  opacity: .4;
  height: 0;
}

/* Blockquote: moving text to the right so 
it isn't overlapping quotation mark */
blockquote p {
  margin-left: 25px;
}

/* When tip is also a blockquote text 
remains small */
.right-tip blockquote {
  font-size: 1.1rem;
}

/* Placing author beneath */
.by {
  display: block;
  margin-top: 15px;
}

/* Img full width */
.article img {
  width: 100%;
}

/* Youtube iframe is responsive now */

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Pre & code */

pre {
	padding: 1.25em 1em;
}

.basic-pre {
  background-color: transparent;
  color: var(--code);
  padding: 0 10px;
  font-family: monospace;
}

code {
  font-family: monospace;
  white-space: pre-wrap;
  color: var(--code);
}

/* reveal spoiler on tap */

.spoiler {
  background: var(--text-color);
  border-radius: 1px;
  cursor: pointer;
  transition: background 1s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spoiler:active {
  background: transparent;
  color: var(--text-color);
}

/* Sticky .copy-section causes code to 
overflow pre padding on the right */
/* code[class*="language-"] {
  display: inline-block;
	padding-right:1em;
} */

/* Copy to clipboard section hidden on 
smaller screens; but can be revealed on
bigger ones */
/* .copy-section {
  max-height: 0;
  overflow: hidden;
} */

/* Copy to clipboard button */
/* pre button {
  color: #e4e4e4;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  cursor: pointer;
  user-select: none;
  background: #555;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0;
  padding-bottom: 2px;
  font-size: 0.8em;
  border-radius: 0 0.15rem;
} */

/* pre button:hover, pre button:focus {
  background: rgba(85, 85, 85, 0.281);
} */

/* Invisible code / button separator */
/* pre hr {
  border: transparent;
} */

/* Removing button icon click event to trigger the button */
/* pre img {
  pointer-events: none;
} */

/* Copied success message! */
/* .success {
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: #444;
  color: yellowgreen;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s var(--cb-transition);
} */

/* Appear on click: adds 'show' class */
/* .success.show {
  opacity: 1;
} */

/* Back to the top button */
.back-button {
  content: "⇜";
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--bg-hot-pink); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 7px 15px; /* Some padding */
  border-radius: 115px; /* Rounded corners */
  font-size: 40px; /* Increase font size */
  transition: 0.5s ease;
}

.back-button img {
  transform: translateY(5px);
}

.back-button:hover, .back-button:focus {
  background-color: var(--pastel-green);
}

/***********
  ABOUT
***********/

/* Light pink background color */
[data-current=about-page] {
  background-color: var(--about-pink);
}

/* Title typography */
.about h1 {
  font-size: 48px;
}

/* Technologies: placing icons side by side using grid */
.technologies-icons {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.contact a {
  text-decoration: underline;
}

/* Social icons size */
.social-icons {
  font-size: 30px;
}

.social-icons a {
  margin-right: 10px;;
}

/***********
  TAGS
***********/

/* Space separating each tag section */
.tag-section {
  margin-bottom: 40px;
}

/* Main tag typography */
.main-tag {
  font-size: 30px;
}

/* Individual tags */
.tags-page .tag {
  display: block;
  font-family: var(--thin-font);
  padding-left: 20px;
}

/* If a tag section has subtags 
adding margin top to the first one */
.tag-section .tag:first-of-type {
  margin-top: 10px;
}


/***********
  TAG
***********/

/* Modifying .menu bottom margin */
.tag-page .menu {
  margin-bottom: 35px;
}

/* 'tag' heading */
.tag-headline h1 {
  font-size: 47px;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: var(--plain-font);
}


/****************
*
*  MEDIA QUERIES
*
*****************/


@media(min-width: 550px) {

  /* Front page posts */

  /* Posts: bookmark & content side by side */
  .post {
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    justify-items: left;
  }

  /* Post title & tags aligns left */
  .post-title,
  .post-tags {
    text-align: left;
  }

  /* Post content max width 60 ch */
  .post-content {
    max-width: 60ch;
  }

  /* Article title bigger */
  .article-info h1 {
    font-size: 50px;
    line-height: 60px;
  }

  /* About */

  /* Title typography */
  .about h1 {
    font-size: 4em;
    line-height: 1.1;
  }

  /* Technologies section: grid 
  container info | icons */
  .technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  /* Technologies icons placing for bigger screens */
  .technologies-icons {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(5, 48px);
    justify-content: space-between;
  }

  /* Article: wrap code on bigger screens */
  code[class*="language-"],
  pre[class*="language-"], pre {
    white-space: pre;
  }

}


@media(min-width: 800px) {

  /* General: Container 
  GRID: min margin | fraction | main content | fraction | min margin */
  header,
  footer,
  main,
  .article,
  .tag-headline,
  .progress-container,
  [class*="WidgetPreviewContainer"] {
    grid-template-columns: 10px 1fr 700px 1fr 10px;
  }

  /* Placing all of their direct children into 3rd column */
  header > *,
  footer > *,
  main > *,
  .article > *,
  .tag-headline > *,
  [class*="WidgetPreviewContainer"] > * {
    grid-column: 3;
  }

  /* Article: Precode on bigger screens
  Copy to clipboard section is hidden 
  when not hovered */
  /* .copy-section {
    position: sticky;
    right: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
  } */

  /* Reveal copy to clipboard section / 
  button oh hover */
  /* pre:hover .copy-section {
    max-height: 500px;
    overflow: hidden;
  } */

}

@media(min-width: 1000px) {
  /* Article container positioned slightly left for tips to be on the right 
  GRID: min margin | fraction | main content | two fractions | min margin 
  main content stayed 600 for tip on the side */
  .article-page header,
  .article-page footer,
  .article,
  .progress-container,
  [class*="WidgetPreviewContainer"] {
    grid-template-columns: 10px 1fr 650px 2.5fr 10px;
  }

  /* Tip on the right 
  placed at 4 column
  possibility to change grid row span if longer through style="--span-row: ?;"*/
  .right-tip {
    grid-column: 4;
    grid-row: span var(--span-row, 1);
    align-self: start;
    padding: 0 15px;
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
  }

  /* Blockquote tip when positioned to 
  the right: smaller font size and 
  adjusted position to the left so "
  doesn't stick out  */
  .right-tip > blockquote {
    padding: 0 10px;
    margin-left: -35px;
    font-size: 16px;
  }

  /* blockquote spanning 2 */
  .article blockquote {
    grid-column: 3 / span 2;
    max-width: 65ch;
  }

  /* Alignes blockquote text with the main
  text
  Blockquote:  quotation mark spilling out 
  blockquote::before {
    left: -30px;
  }

  Blockquote: reseting margin to align text
  with the rest 
  blockquote p {
    margin-left: 0;
  } */

}