{% for post in postslist | reverse %}
  <article {% if post.url == url %} data-current="current item" {% endif %}  class="post">
    <div class="post-date">
      <div class="day-month">
        <time datetime="{{ post.date | machineDate }}">
          <span class="day">{{ post.date | readableDateDay }}</span>
          <span class="month">{{ post.date | readableDateMonth }}</span>
        </time>
      </div>
    </div>
    <div class="post-info">
      <div class="post-tags">
        {% if post.data.tags %}
        <img src="/static/img/tag.svg" alt="tag" class="tag-icon">
				<div class="post-all-tags">
					{% for tag in post.data.tags %}
						{%- if tag != "post" -%}
							{% set tagUrl %}/tags/{{ tag }}/{% endset %}
							<span class="tag">
								<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
							</span>
						{%- endif -%}
					{% endfor %}
				</div>
        {% endif %}
      </div>
			<h1 class="post-title">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h1 class="post-title">
      {% if post.data.summary %}
        <div class="post-content">
          {{ post.data.summary }}
        </div>
      {% endif %}
		</div>
  </article>
{% endfor %}