<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="sr">

{% include "components/head.njk" %}

<body>
<div  class="container {{section}}">
	
	<header>
		<h1 class="logo">
			<a href="{{ '/' | url }}">{{ metadata.title }}</a>
		</h1>
		{% include "components/nav.njk" %}
	</header>

		{{ layoutContent | safe }}

	{% include "components/footer.njk" %}

</div>
</body>
</html>
