---
layout: layouts/base.njk
section: front-page
permalink: /blog/index.html
---
  <main class="articles">
    {{ layoutContent | safe }}
    
    {% set postslist = collections.post %}
    {% include "components/postslist.njk" %}
  </main>